<!DOCTYPE html>
 <html> 
  <head>
   <meta charset="utf-8"/>
   <title>Cafeteria Mais sabor</title>
   <link rel="icon" href="../static/img/logo-site.png">
   <link rel="stylesheet"href="../static/css/styles3.css">
  </head>
    <body>
    <h1>Cafeteria Mais Sabor</h1>
    <br>
    <br>
    <br>
    <h2>Café Arábico com Leite</h2>

    <table
    bgcolor="#eee4d8">
      <tr>
        <td>
           <figure>
           <img class="displayed" src="../static/img/cafe-arabico.jpg" alt="Café Arábico com Leite" width="300px" height="300px">
          </figure>
        </td>
      </tr>    
    </table> 

    <br>
    <h2>Uma mistura de Expresso, leite fervido e espuma.</h2>
    <br>

    <h2><b>Preço: R$1,89</b></h2>
    <table>
      <tr>
        <td>
          <h2><u><a href="mistura-da-casa.html"> Anterior</a></u></h2>
        </td>
        <td>
          <h2>|</h2>
        </td>
        <td>
          <h2><u><a href="index.html">  Início </a></u></h2>
        </td>
        <td>
          <h2>|</h2>
        </td>
        <td>
          <h2><u><a href="cappuccino.html"> Próximo </a></u></h2>
        </td>
      </tr>
    </table>
    <br>
    <br>

    <h3><b>Desenvolvido por Pedro Bonatti  -  2019  -  Todos os Direitos Reservados</b></h3>
 
  </body>
 </html>