<!DOCTYPE html>
 <html> 
  <head>
   <meta charset="utf-8"/>
   <title>Cafeteria Mais sabor</title>
   <link rel="stylesheet"href="../static/css/styles5.css">
  </head>
    <body>
    <h1>Cafeteria Mais Sabor</h1>
    <br>
    <br>
    <br>
    <h2>Chá Chai</h2>

    <table
    bgcolor="#eee4d8">
      <tr>
        <td>
           <figure>
           <img class="displayed" src="../static/img/cha-chai2.jpg" alt="Chá Chai" width="400px" height="300px">
          </figure>
        </td>
      </tr>    
    </table> 

    <br>
    <h2>Uma mistura suave e delicada de cafés do México, Bolívia e Guatemala.</h2>
    <br>

    <h2><b>Preço: R$2,35</b></h2>
    <table>
      <tr>
        <td>
          <h2><u><a href="cappuccino.html"> Anterior</a></u></h2>
        </td>
        <td>
          <h2>|</h2>
        </td>
        <td>
          <h2><u><a href="index.html">  Início </a></u></h2>
        </td>
      </tr>
    </table>
    <br>
    <br>
    
    <h3><b>Desenvolvido por Pedro Bonatti  -  2019  -  Todos os Direitos Reservados</b></h3>
 
  </body>
 </html>