<!DOCTYPE html>
 <html> 
  <head>
   <meta charset="utf-8"/>
   <title>Cafeteria Mais Sabor</title>
   <link rel="icon" href="../static/img/logo-site.png">
   <link rel="stylesheet"href="../static/css/styles.css">
  </head>
    <body>
    <h1>Cafeteria Mais Sabor</h1>
    <br>
    <br>
  	<h2>Cardápio</h2>
    <br>
    <br>
    <br>
<table
bgcolor="#eee4d8"
cellpadding="10">
<tr>
<td>
  <figure>
  <img src="../static/img/mistura-da-casa.jpg" alt="Café Mistura da Casa" width=200px height=200px>
  <figcaption><b> Café Mistura da Casa </b></figcaption>
  </figure>
</td>

<td>
  <figure>
  <img src="../static/img/cafe-arabico.jpg" alt="Café Arábico com Leite"  width=200px height=200px>
  <figcaption><b> Café Arábico com Leite </b></figcaption>
</figure>
</td>

<td>
  <figure>
  <img src="../static/img/Cappuccino.jpg" alt="Café Cappuccino"  width=200px heigth=200px>
  <figcaption><b> Café Cappuccino </b></figcaption>
  </figure>
</td>

<td>
  <figure>
  <img src="../static/img/cha-chai.jpg" alt="Chá Chai" widht=200px heigth=200px>
  <figcaption><b> Chá Chai </b></figcaption>
  </figure>
</td>

</tr>

<tr>
  <td>
    <h3><u><a href="mistura-da-casa.html"> Saiba mais</a><u></h3>
  </td>
  <td>
    <h3><u><a href="arabico-com-leite.html"> Saiba mais</a><u></h3>
  </td>
  <td>
    <h3><u><a href="cappuccino.html"> Saiba mais</a><u></h3>
  </td>
  <td>
    <h3><u><a href="cha-chai.html"> Saiba mais</a><u></h3>
  </td>
</tr>
</table>
<br>
<br> 
<br>
<table
bgcolor="#eee4d8"
cellpadding="10">
<tr>
  <td>
    <h3>Venha nos fazer uma visita: <br><br> Rua São Sebastião, 125, Centro, <br> Rio de Janeiro, RJ, Brasil</h3>
  </td>
  <td>
    <h3>Telefones para contato: <br><br> (21)99267-3780 <br> (21)2240-3984</h3>
  </td>
</tr>
</table>
<br>
<br>
 
  <h3><b>Desenvolvido por Pedro Bonatti  -  2019  -  Todos os Direitos Reservados</b></h3>  
  </body>
 </html>